
pytorch/data/cifar-10-batches-py/data_batch_1
pytorch/data/cifar-10-batches-py/data_batch_2
pytorch/data/cifar-10-batches-py/data_batch_5
pytorch/data/cifar-10-batches-py/data_batch_4
pytorch/data/cifar-10-batches-py/data_batch_3
pytorch/CLASSIFIER.ipynb
pytorch/data/cifar-10-batches-py/test_batch
pytorch/data/cifar-10-python.tar.gz
